<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Picture and Description</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body style="background-image: url(/static/css/Background.jpg);background-size: cover;background-attachment: fixed;">

<div class="navbar" >
    <a href="/Home"><b>Home</b></a>
    <a href="/Paper"><b>Paper</b></a>
    <a href="/static/Report.pdf" target="_blank"><b>Report</b></a>
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=32f74bswlIfz" target="_blank"><b>Code</b></a>
    <a href="/"><b>Model</b></a>
</div>

<div class="content">
    <div class="description" style="margin-right: 80px;">
        <h2>DenseNet architecture</h2>
        <p>DenseNet, a deep learning architecture known for its dense connectivity pattern, is being used to predict lung cancer from CT images. By analyzing large datasets of annotated CT scans, DenseNet-based models can accurately identify suspicious regions indicative of lung cancer. This technology holds promise for improving early detection and treatment planning, potentially enhancing patient outcomes by enabling earlier interventions and personalized treatment strategies.</p>
    </div>
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=ZAPdBffOidV8&line=3&uniqifier=1">
    <div class="image">
        <img src="/static/css/DenseNet1.jpeg" alt="Sample Image">
    </div></a>
</div>
<div class="content">
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=CW02o-40dmZ1&line=5&uniqifier=1"><div class="image">
        <img src="/static/css/Benign case.jpg" alt="Sample Image">
    </div></a>
    <div class="description" style="margin-left: 80px;margin-right: 30px;">
        <h2>Benign Case</h2>
        <p>Benign lung nodules on CT images appear as smooth, well-defined lesions with homogeneous density and are often smaller in size. They may contain calcifications or fatty components and are typically located peripherally. Stability over time on serial scans is a key characteristic. However, definitive diagnosis may require further evaluation such as biopsy or additional imaging modalities</p>
    </div>
</div>
<div class="content">
    <div class="description" style="margin-right: 80px;">
        <h2>Maligant Case</h2>
        <p>Malignant lung cancer on CT images typically appears as irregularly shaped nodules with spiculated margins and heterogeneous density. They can vary in size and are often centrally located. Malignant nodules may exhibit growth over time and may be associated with other signs of malignancy such as lymphadenopathy or distant metastases. Definitive diagnosis is made through biopsy or histopathological examination. Early detection and treatment are critical for improving patient outcomes.</p>
    </div>
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=CW02o-40dmZ1&line=5&uniqifier=1"><div class="image">
        <img src="/static/css/malignant case.jpg" alt="Sample Image">
    </div></a>
</div>
<div class="content">
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=CW02o-40dmZ1&line=5&uniqifier=1"><div class="image">
        <img src="/static/css/normal case lung cancer.jpg" alt="Sample Image">
    </div></a>
    <div class="description" style="margin-left: 80px;margin-right: 30px;">
        <h2>Normal Case</h2>
        <p>Normal lung CT images typically show clear, unobstructed airways and lung fields with no visible abnormalities such as nodules, masses, or infiltrates. The lung parenchyma appears homogeneous and well-aerated, with visible branching of bronchi and blood vessels. No signs of pulmonary pathology, such as consolidation, ground-glass opacities, or pleural effusions, are present. Normal variations in lung anatomy, such as bronchial branching patterns and vascular structures, may be observed. Overall, normal lung CT images serve as a baseline for comparison when assessing for the presence of abnormalities, including lung cancer or other pulmonary diseases.</p>
    </div>
</div>
<div class="content">
    <div class="description" style="margin-right: 80px;">
        <h2>Grayscale</h2>
        <p>A grayscale image is a simplified representation of visual data where each pixel is assigned a single intensity value, ranging from black to white. Grayscale images are efficient to process and widely used in fields such as image analysis, medical imaging, and photography. They offer simplicity, versatility, and high contrast for various applications.</p>
    </div>
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=0f-qPEimY5nU&line=9&uniqifier=1"><div class="image">
        <img src="/static/css/gray scale image.jpg" alt="Sample Image">
    </div></a>
</div>
<div class="content">
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=o6rvFf-8bQPH&line=8&uniqifier=1"><div class="image">
        <img src="/static/css/noise removal.jpg" alt="Sample Image" height="100px" width="100px">
    </div></a>
    <div class="description" style="margin-left: 80px;margin-right: 30px;">
        <h2>Gaussian Blur</h2>
        <p>Gaussian blur is a method in image processing that reduces noise and smooths out details by convolving the image with a Gaussian filter. Its purpose is to improve image quality by reducing unwanted fluctuations in pixel intensity caused by noise, resulting in a visually cleaner and more aesthetically pleasing image.</p>
    </div>
</div>
<div class="content">
    <div class="description" style="margin-right: 80px;">
        <h2>Edge Detecting Image</h2>
        <p >An edge-detected image highlights boundaries between objects or regions by detecting rapid intensity changes. Its purpose is to extract features, enhance visual quality, aid in object detection, localization, and image compression. Edge detection is a fundamental preprocessing step in image processing applications.</p>
    </div>
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=u2O9ISIaVt27&line=9&uniqifier=1"><div class="image">
        <img src="/static/css/edge detected image.jpg" alt="Sample Image">
    </div></a>
</div>
<div class="content">
    <a href="https://colab.research.google.com/drive/1fYcctDMbODeAUB1n1sTB_oOfB6gJYTOl#scrollTo=32f74bswlIfz&line=2&uniqifier=1"><div class="image">
        <img src="/static/css/Confusion Matrix.jpeg" alt="Sample Image">
    </div></a>
    <div class="description" style="margin-left: 80px; margin-right: 30px;">
        <h2>Confusion Matrix</h2>
        <p>Confusion matrix gives a detail description of classification or misclassification in a form of matrix. It consists of true positive (correctly predict the positive class), true negative (correctly predict the negative class), false positive (incorrectly predict the positive class), false negative (incorrectly predict the negative class)</p>
    </div>
</div>
</body>
</html>
