<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Picture and Description</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-image: url(/static/css/Background.jpg);background-size: cover;background-attachment: fixed;">

<div class="navbar" >
    <a href="/Home"><b>Home</b></a>
    <a href="/Paper"><b>Paper</b></a>
    <a href="/Report"><b>Report</b></a>
    <a href="/"><b>Model</b></a>
</div>

<div class="content">
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
</div>
<div class="content">
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
</div>
<div class="content">
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
</div>
<div class="content">
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
</div>
<div class="content">
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
</div>
<div class="content">
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
</div>
<div class="content">
    <div class="image">
        <img src="/static/css/image.png" alt="Sample Image">
    </div>
    <div class="description">
        <h2>Image Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi tempore fugit, facere repellendus voluptatibus cumque. Eveniet recusandae rem nisi exercitationem quam dolore ex voluptatibus, tempore, doloremque fugiat esse sapiente. In animi quasi ab porro ullam nesciunt nostrum qui eos cum, similique a, molestiae unde eligendi temporibus mollitia error inventore facilis autem voluptate, voluptatum numquam nemo optio? Nesciunt, ut facilis.</p>
    </div>
</div>
</body>
</html>
