<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Model.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body style="background-image: url(/static/css/Background.jpg);background-size: cover;background-attachment: fixed;">
    <div class="navbar" >
        <a href="/Home"><b>Home</b></a>
        <a href="/Paper"><b>Paper</b></a>
        <a href="/static/LUNGCANCER.pdf" target="_blank"><b>Report</b></a>
        <a href="https://colab.research.google.com/drive/1rx19AaOsaAr2sJ7z-qpfgFsoCywPcWT3#scrollTo=Bxl3r4lecXnx" target="_blank"><b>Code</b></a>
        <a href="/"><b>Model</b></a>
    </div>
    <div class="container">
        <h1>Upload Image</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        {% if prediction %}
            <h1>Prediction Result</h1>
            <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image" height="100px" width="100px">
            <p>{{ prediction }}</p>
        {% endif %}
    </div>
</body>
</html>
